body {
    font-family: Times, "san serif";
    background-color: plum;
    padding: 25px;
    font-size: 120%;
}

div#content {
    margin: 10px 10px 0px 10px;
    padding: 50px;
    background-color: lightpink;
    border: dotted 20px #8B008B;
    border-color: deeppink;
}

 h1, h2, h3 {
    font-family: Georgia, "san serif";
    color: deeppink
}
    p {
      color: Purple

}
    img {
        float: right;
        width: 300px;
        height: auto;
        boreder-radius: 50%
