nav {
  float: right;
  padding: 15px;
  background-color: lightpink;
}
aside {
  float: right;
  padding: 15px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}
footer {
  background-color: magenta;
  color: white;
  text-align: center;
}
header {
  padding: 10px 15px;
  background-color: magenta;
  color: white;
}
