body {
    font-family: arial black, "Sans-serif";
    font-style: oblique;
    background-image: linear-gradient(pink, Purple);
    font-size: 120%;
}
div#content {
    margin: 70px;
    padding: 50px;
    background-color: lightpink;
    border: double 20px #8B008B;
    border-radius: 25px;
    border-color: deeppink;
}
div {
 box-shadow: 00px 0px 20px deeppink;
}
 h1, h2, h3, h4, h5{
    font-family: Verdana, "Sans-serif";
    color: deeppink
}
h1 {
  letter-spacing:3px;
  font-size:50px;
  text-shadow: 0 0 5px Purple;
}
h2 {
  letter-spacing:3px;
  font-size:30px;
  text-shadow: 0 0 5px Purple;
}
h3 {
  letter-spacing:3px;
  font-size:30px;
  text-shadow: 0 0 5px Purple;
}
h4 {
  letter-spacing:3px;
  font-size:30px;
  text-shadow: 0 0 5px Purple;
}
h5 {
  letter-spacing:3px;
  font-size:30px;
  text-shadow: 0 0 5px Purple;
}
    p {
      color: Purple
}
nav#link{
  position: sticky;
  top: 0px;
  border: 3px dotted;
  border-color: deeppink;
}
img {
 filter: blur(3px) invert(0%) saturate(100%);
}
img {
 width:900px;
 height:200px;
 object-fit: cover;
}
