body {
  background-color: darkred;
  font-family: 'Sofia', ;
  color: darkred
}

h1 {
  font-size:40px
}
h1{
  letter-spacing: 5px;
}

h2 {
  font-size:28px
}

#content {
  margin: 50px;
  padding: 20px
  border: dashed 50px purple;
  background-color: pink;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}
